<h1>{{title}}</h1>
<div class="container d-flex p-4">

    <div class="p-4">
      Numero 1 : <input type="number" [(ngModel)]="numero1" name="numero1"> <br><br> 
      <!-- ngModel para el banana inbox y un biding bidireccional()numer1, y el name trae el numero que almacena el inicio de numero1 -->
      
      numero 2 : <input type="number" [(ngModel)]="numero2" name="numero2"> <br><br>
      <p>Resultado : {{resultado}}</p>
      <input type="numer" value="Resetear" (click)="resetear()" class="btn btn-secondary">
    </div>

  
   <div class="d-flex flex-column mb-3">
      <input type="button" value="+" (click)="sumar()" class="btn btn-secondary btn-lg mb-2" 
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      <input type="submit" value="-" (click)="restar()" class="btn btn-secondary mb-2">
      <input type="submit" value="X" (click)="multiplicar()" class="btn btn-secondary mb-2">
      <input type="submit" value="÷" (click)="dividir()" class="btn btn-secondary mb-2">
      <!-- <input type="submit" value="Multiplicar" (click)="multiplicar()">
      <input type="submit" value="Dividir" (click)="dividir()"> -->
  </div>
 
  
  <!-- biding resultado -->
</div>